<!-- 
<app-routes></app-routes>
<app-animations></app-animations>
<div *appUnless="!true">
    hi
</div>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<mat-form-field class="example-full-width">
    <input matInput autocomplete="off" placeholder="email" type="email">
</mat-form-field>
<button mat-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-button disabled>Disabled</button> -->

<app-signup></app-signup>

<!-- <app-posts></app-posts> -->
<!-- <app-form-array></app-form-array> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-directives></app-directives>
<input type="text"
[appInputFormat]="'uppercase'" -->
<!-- /> -->
<!-- [format]="'uppercase'" -->
<!-- <app-favorite [is-favorite]="post.isFavorite" (change)="onFavChange($event)"></app-favorite>
<app-ng-content>
    <h1 class="headiing">
        lorem
    </h1>
    <p>
        lorem ipsum dolor sit amet, consectetur adip
    </p>
</app-ng-content> -->
<!-- <app-course 
[is-favorite]="post.isFavorite" ></app-course>
<courses></courses> -->
<!-- templates are bundled along with source code after transpilation -->